/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/* Main Container */
.main {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 30px;
    width: fit-content;
    text-align: center;
}

.main h1 {
    font-size: 2rem;
    color: #007bff;
    margin-bottom: 20px;
}

/* Form Styling */
form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

label {
    font-size: 1rem;
    margin: 10px 10px 5px;
    color: #555;

}

input[type="text"] ,
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    margin-bottom: 15px;
    font-size: 1rem;
    font-family: 'Arial', sans-serif;
}



textarea {
    resize: none;
    height: 100px;
}

input[type="file"] {
    margin-bottom: 15px;
}



/* Button Styling */
button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s;
    width: 100%;
}

button:hover {
    background-color: #0056b3;
}

/* Link Styling */
a {
    display: block;
    margin-top: 15px;
    text-decoration: none;
    color: #007bff;
    font-size: 0.9rem;
    transition: color 0.3s;
}

a:hover {
    color: #0056b3;
}

.form-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

hr{
    transform: rotate(90deg);
    width: 300px;
}

img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 20px;
    border: 2px solid #0056b3;
}

img:hover {
    cursor: pointer;
    transform: scale(1.2);
    transition: 0.3s ease-in-out;
}

.left {
    margin-right: -8%;
}

.right {
    margin-left: -8%;
}